.home-container{
    height: 70vh;
    background: url('../../images/bg-triangle.svg');
    background-size: 20%;
    background-position: center;
    background-repeat: no-repeat;
    

}

.paper{
    width: 180px;
    height: 180px;
    bottom: 65%;
    position: fixed;
    left: 35%;
}


.scissors{
    width: 180px;
    height: 180px;
    bottom: 65%;
    position: fixed;
    left: 53%;
}

.rock{
    width: 180px;
    height: 180px;
    position: fixed;
    bottom: 15%;
    left: 44%;
}

@media screen and (max-width: 500px) {
    .home-container{
        height: 100vh;
        background-size: 150px;
        
    
    }
    
    .home-container{
        height: 70vh;
        background: url('../../images/bg-triangle.svg');
        background-size: 40%;
        background-position: center;
        background-repeat: no-repeat;
    }

    
.paper{
        width: 110px;
        height: 110px;
        bottom: 50%;
        position: fixed;
        left: 15%;
    
}


.scissors{
    width: 110px;
    height: 110px;
    bottom: 50%;
    position: fixed;
    left: 55%;
    
   
    
}

.rock{
    width: 110px;
    height: 110px;
    bottom: 25%;
    position: fixed;
    left: 35%;
    
}

}

