.home-container{
    height: 70vh;
    background: url('../../images/bg-triangle.svg');
    background-size: 20%;
    background-position: center;
    background-repeat: no-repeat;
    

}

.paper{
    width: 180px;
    height: 180px;
    bottom: 300px;
    position: fixed;
    left: 500px;
}


.scissors{
    width: 180px;
    height: 180px;
    bottom: 300px;
    position: fixed;
    left: 850px;
}

.rock{
    width: 180px;
    height: 180px;
    position: fixed;
    top: 300px;
    left: 680px;
}

@media screen and (max-width: 480px) {
    .home-container{
        height: 70vh;
        background: url('../../images/bg-triangle.svg');
        background-size: 40%;
        background-position: center;
        background-repeat: no-repeat;
    }

    
.paper{
   
    position: fixed;
    left: 0;
}


.scissors{

   
    position: fixed;
    
}

.rock{
    position: fixed;
    
}

}